body {
	padding-top:25px;	

	background:url(bg.svg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	/*background-color: #f8f8f8 !important;*/
}
#inputform{
	width: 300px;
}
@media (max-width: 480px) { 
	#player {
		display: none;
	}
	#inputform {
		width:100%;

	}
	#submitbtn {
		margin-top:5px;
		width: 100%;
	}

}



#left-side, #right-side {
	padding:10px;
	background-color: rgba(248, 2480, 248, 0.5);
}
#start {
	width:100%;
	height:395px;
}
#que {
	height:216px;
	width:100%;
	overflow-y: scroll;
}
.row {
	padding-bottom:10px; !important	
}
.navbar-default {	
	//background-color: #2ecc71;
}
.navbar-default .navbar-nav>.active>a {
	//background-color: #27ae60;
}
.img-float {
	//width:30%;
	float:left;
	width: 150px;
	height: auto;
}
.data-float {
	width:70%;
	float:right;
}
#output{
/*	border: 1px solid black;
*/	height: 500px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
