<!doctype html>
<html ng-app="YoutubePlayer">
	<head>
		<title>r3vl.com</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>	
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>		
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="core.js"></script>
		<script src="/js/filters.js"></script>
		<script src="/js/directives.js"></script>
		<script src="http://malsup.github.io/jquery.blockUI.js"></script>
		<script>
			function iframeResize()
			{
			var iframes = document.getElementsByTagName('iframe');
			var newwidth = $("#left-side").width();

			for (var i=0; i<iframes.length; i++)
			{
			  iframes[i].style.width = newwidth+"px";
			}
			}
		</script>
	</head>
	<body ng-controller="mainController">
		<div class="container">
			<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">r<span style="color:#D63333">3</span>vl</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Home</a>
						</li>
						<li>
							<a ng-click="clearVideos()" href="#">Admin</a>
						</li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a>“There is no more mistaken path to happiness than worldliness, revelry, high life”</a>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>

			<div id="left-side" class="col-md-6">

				
				<div id="player">
					<!-- VIDEO PLAYER CONTAINER -->
					<!-- <button type="submit" id="start" class="btn btn-default" onclick="startPlayer()"> CLICK TO START</button> -->
				</div>
				<!--<h3>Now Playing: {{ video[0].title }}</h3>-->
				<div id="que">
					<h3>Queue: {{ waitTime | secToMin }} min</h3>
					<div id="lineup" ng-repeat="vid in video">
						<ul>
						<li>
							<span class="glyphicon glyphicon-remove" ng-click="deleteVideo(vid._id)"></span>
							<div>{{ vid.title }}</div>
							<div>Duration:{{ vid.duration | secToMin }}</div>
						</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="right-side" class="col-md-6">
				<div id="search">
					<form class="form-inline">
						<input type="text" placeholder="Enter search terms" id="inputform" class="form-control"  auto-complete ng-model="selected"/>
						<button type="submit" id="submitbtn" class="btn btn-default" ng-click="searchYoutube()"><span class="glyphicon glyphicon-search"></span></button>
					</form>
					<hr>
					<h3>Results:</h3>
					<div id="output" class="form-control">
						<div class="row" ng-repeat="result in queryResults" ng-click="selectVideo(result)">
							<img class="img-float" src="{{result.thumbnail.sqDefault}}">
							<div class="data-float">{{ result.title }}</div>
							<div class="data-float">{{ result.duration | secToMin }}</div>
						</div>
					</div>
				</div>	
<!-- 				<button ng-click="clearVideos()">Clear</button> -->
			</div>	

			<div id="ajax-response">
				<script>

					/* AJAX RESPONSE WILL GO IN THIS DIV, WHERE WE CHANGE THE VIDEOID */
					var player;
					var videoId = 0;
					function onYouTubeIframeAPIReady() {

					    player = new YT.Player('player', {
					        height: '390',
					        width: '640',
					        videoId: 'g8puEIliGOg',
					        playerVars: { 'autoplay': 0 },
					        events: {
					            'onReady': onReady
					        }
					    });
					   
					}
				</script>
			</div>
			<!-- EVENT LISTENER  -->
			<script>
			function onReady() {
				iframeResize();
			    player.addEventListener('onStateChange', function(e) {
			        console.log('State is:', e.data);
			        console.log('videoId: ', videoId);
			        /* THIS IS WHERE WE MAKE OUR AJAX CALL WHEN THE STATE IS '0' */
			        /* NEED TO TEST IF LISTENER ATTACHES TO THE AJAX RESPONSE */
			        if (e.data === 0){
			        	      $.ajax({
						      type: "GET",
						      url: "/api/handler",
						      cache: false,
						      success: function(result){
						      	$("#player").remove();
						      	$("#left-side").prepend('<div id="player"></div>')
						      	$("#ajax-response").remove();
						      	$("body").append('<div id="ajax-response"></div>')
						      	$("#ajax-response").html(result);
						      	onYouTubeIframeAPIReady();
						      }
						      });
					videoId+=1;
			        }
			    });
			}
			</script>
			<script >
				$( "#output" ).hide();
				$( "#inputform" ).keypress(function() {
				 	$( "#output" ).hide();
				});
				$( "#submitbtn" ).click(function() {
				 	$( "#output" ).show();
				});
			</script>
			<script>
			function startPlayer() {
				var videoId = null;
				$.ajax({
				      type: "GET",
				      url: "/api/handler",
				      cache: false,
				      success: function(result){
				      	$("#player").remove();
				      	$("#left-side").prepend('<div id="player"></div>')
				      	$("#ajax-response").remove();
				      	$("body").append('<div id="ajax-response"></div>')
				      	$("#ajax-response").html(result);
				      	onYouTubeIframeAPIReady();
				    }
				});
				videoId+=1;
			}
			</script>
			
		</div>
	</body>
</html>